* {
    margin:0;
}

body {
    background-image: url("../Ressources/backgroundBlueGradient.jpg");
    background-size: cover;
    color: white;
    text-align: center
}

header {
    padding: 20px 20px 10px 20px;
    background: #0b0f4c;
    color: cornsilk;
    font-size: 20px;
    height: 90px;
}

footer {
    position: fixed;
    width: 100%;
    background: #434448;
    color: cornsilk;
    font-size: 18px;
    text-align: center;
    height: 40px;
    bottom: 0px;
    margin-top: 30px;
    
}

.loginForm {
    text-align: right;
    width: 300px;
    float: right;
    position: relative;
    bottom: 58px;
}

    .loginForm input {
        color: black;
        border: solid 1px black;
        cursor: pointer;
        width: 50%;
    }

    .loginForm button {
        color: black;
        border: solid 1px white;
        cursor: pointer;
        width: 52%;
    }

        .loginForm input[type="button"] {
            color: black;
            border: solid 1px white;
            cursor: pointer;
            width: 52%;
        }

.navigation1 {
    margin:20px;
    width: 200px;
    height: 100px;
    float: left;
    position: relative;
    bottom: 30px;
    
}

.navigationListe li {
    border: 3px groove #000000;
    text-align: center;
    margin-bottom: 2px;
    list-style: none;
}

    .navigationListe li a {
        display: block;
        background: white;
        color: #0c0038;
        line-height: 2em;
        text-decoration: none;
    }

        .navigationListe li a:hover, .navigationListe li a:focus, .navigationListe li a:active {
            background: #2e0ed5;
            text-decoration: underline;
        }

.navigation2 {
    display:flex;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 310px;
}

    .navigation2 li a{
        display: block;
        background: white;
        color: #0c0038;
        line-height: 2em;
        width: 150px;
        text-decoration: none;
    }


h1 {
    margin: 10px 0px 0px 10px;
}

#signup-form {
    background-color: rgba(50,50,50,.5);
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    width: 800px;
    height: 75%;
    padding: 10px 0;
}

    #signup-form h2 {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 3em;
    }

    #signup-form .form-input {
        position: relative;
        margin: 20px 0;
        text-align: center;
    }

        #signup-form .form-input input {
            background-color: rgba(50,50,50,.8);
            color: white;
            outline: none;
            width: 70%;
            height: 40px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid white;
            font-size: 18px;
        }

    /* SUBMIT INPUT */

    #signup-form .form-input input[type="submit"] {
        color: white;
        border: solid 1px white;
        cursor: pointer;
        width: 70%;
    }

    #signup-form .form-input input[type="button"] {
        color: white;
        border: solid 1px white;
        cursor: pointer;
        width: 70%;
    }

p {
    padding-left: 30px;
}

h2 {
}

h3 {
    margin-top: 0px;
    font-size: 22px;
    letter-spacing: 8px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
}

.background-img2 {
    background-image: url("../Ressources/banniere2.jpg");
    height: 100px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
}


.background-img {
    background-image: url("../Ressources/banniere2.jpg");
    height: 100px;
    width: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
}


.content h2 {
    font-size: 19px;
    text-align: center
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 80px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}

.border-button {
    padding: 1em 1.75em 2em 1.75em;
    margin: 0.25em;
    background: none;
    display: inline-block;
    color: @text;
    cursor: pointer;
    font-size: 21px;
    line-height: 1.6;
    text-decoration: none;
}

.lastQuestion {
    padding-bottom: 90px;
}